$fontSize: 46.875; // 750px 宽度
// 计算宽度
@function rem($n) {
  @return ($n / $fontSize) * 1rem;
}
.content{
	
	.album_singer{
		width:100%;
		height:rem(471);
		background-color:#5306C3;
		.singer_detail{
			height:rem(240);
			padding:rem(49) 0 0 rem(10);
			.singer_img{
				width:rem(240);
				height:100%;
				padding-right:rem(34);
				float:left;
			}
			.singer_rec{
				height:100%;
				line-height:rem(80);
				display:inline-block;
				.rec_title{
					font-size:rem(32);
					color:#fff;

				}
				.rec_name{
					height:rem(60);
					.rec_img{
						width:rem(60);
						height:rem(60);
						background-position:center;
						background:url("../../../image/weixin.png") no-repeat;
						background-size: contain;
						border-radius:rem(5);
						float:left;
					}
					.rec_n{
						color:#fff;
						font-weight:bold;
					    bottom: rem(10);
    					position: relative;
						padding-left:rem(20);
						font-size:rem(32);
					}
				}	
				.rec_time{
					color:#fff;
					opacity:0.5;
					letter-spacing:0;
					font-weight:bold;
				}


			}
		}
		.singer_down{
			height:rem(182);
			width:100%;
			.bottom_p{
				width:rem(174.2);
				height:100%;
				margin:0 auto;
				display:inline-block;
				text-align: center;
				color:#fff;
			}
			.bottom_p1{
				.p1_img{
				    margin-top: .5rem;
					width:rem(56);
					height:rem(56);
					background-position:center;
					background:url("../../../image/icon_like_comment_mv@2x.png") no-repeat;
					background-size: contain;
					display:inline-block;
				}
			}
			.bottom_p2{
				.p2_img{
					margin-top: .5rem;
					width:rem(56);
					height:rem(56);
					background-position:center;
					background:url("../../../image/icon_like_nearplay.png") no-repeat;
					background-size: contain;
					display:inline-block;

				}
			}
			.bottom_p3{
				.p3_img{
					margin-top: .5rem;
					width:rem(56);
					height:rem(56);
					background-position:center;
					background:url("../../../image/icon_download_nearplay.png") no-repeat;
					background-size: contain;
					display:inline-block;

				}
			}
			.bottom_p4{
				.p4_img{
					margin-top: .5rem;
					width:rem(56);
					height:rem(56);
					background-position:center;
					background:url("../../../image/icon_msn_nearplay.png") no-repeat;
					background-size: contain;
					display:inline-block;

				}
			}
		}
	}
	.album_song{
		height:auto;
		max-height:rem(638);
		.song_play{
			width:100%;
			font-weight:bold;
			height:rem(70);
			line-height:rem(55);
			padding-top:rem(18);
			border-bottom:solid rem(1) #999;
			.play_icon{
				width:rem(50);
				height:rem(50);
				background:url("../../../image/icon_play_multiselect@2x.png") no-repeat;
				background-size:contain;
				float:left;
			}
			.play_count{
				color:#999;
			}
			.play_all{
				padding: 0 rem(20);
			}
		}
		.song_more{
			background:url("../../../image/icon_more_list_music@2x.png") no-repeat;
			width:rem(48);
			height:rem(48);	
			display:inline-block;
			background-size:contain;
		}
		.song_list{
			height:rem(137);
			border-bottom:rem(1) solid #ddd;
			.song_index{
				height:100%;
				line-height:rem(137);
				font-size:rem(34);
				color:#999;
				font-weight:bold;
				float:left;
				padding-right:rem(40);
			    position: relative;
			}
			.song_detail{
				display:inline-block;
				width:rem(580);
				height:auto;
				padding-top:rem(35);	
				.song_title{
					font-size:rem(32);
					font-weight:bold;
					height:rem(45);
					line-height:rem(45);
					display:inline-block;
					.specil_song{
						font-size:rem(18);
						color:#6F2EB1;
						width:rem(40);
						height:rem(30);
						line-height:rem(30);
						display:inline-block;
						text-align:center;
						border-radius:rem(5);
						position:relative;
						bottom:rem(5);
						border:rem(1) solid #6F2EB1;
					}

				}
				.song_album{
					color:#999;
				}				
			}

		}
	}
	.album_other{
		padding-top:rem(40);
		height:rem(450);
		.title_s1{
			height:rem(40);
			width:rem(168);
			font-weight:bold;
			line-height:rem(40);
		}
		.title_s2{
			height:rem(40);
			line-height:rem(40);
			float:right;
			color:#999;
			font-size:rem(24);
		}
		.album_music{
			height:rem(360);
			padding-top:rem(10);
			.other_music{
			width:rem(360);
			height:rem(360);
			padding-right:rem(1);
			float:left;
		}
		}
		
	}
}
