@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";
@import "compass/support";

$legacy-support-for-ie: true;
$legacy-support-for-ie6: $legacy-support-for-ie;
$legacy-support-for-ie7: $legacy-support-for-ie;
$legacy-support-for-ie8: $legacy-support-for-ie;
$legacy-support-for-mozilla: true;
$experimental-support-for-mozilla: true;
$experimental-support-for-webkit: true;
$experimental-support-for-opera: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-khtml: false;
$experimental-support-for-svg: false;
$experimental-support-for-pie: false;
$support-for-original-webkit-gradients: true;
