/*dialog*/
/* line 4, ../../../sass/common/dialog/dialog.scss */
.mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999;
  overflow: hidden;
}

/* line 15, ../../../sass/common/dialog/dialog.scss */
.dialog {
  border-radius: 2px;
  z-index: 1000;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  opacity: 0;
}
/* line 24, ../../../sass/common/dialog/dialog.scss */
.dialog .d-pop {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  display: inline-block;
  font-family: 'Microsoft YaHei';
}
/* line 29, ../../../sass/common/dialog/dialog.scss */
.dialog .d-pop .d-cnt {
  font-size: .6rem;
  color: #000;
  text-align: center;
  padding: .4rem .6rem;
}
/* line 34, ../../../sass/common/dialog/dialog.scss */
.dialog .d-pop .d-cnt .loading {
  font-size: 1.2rem;
  color: #fff;
}
/* line 40, ../../../sass/common/dialog/dialog.scss */
.dialog .d-pop .d-btn {
  table-layout: fixed;
  display: block;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border-top: 1px solid #CCCCCC !important;
}
/* line 47, ../../../sass/common/dialog/dialog.scss */
.dialog .d-pop .d-btn a {
  padding: 0;
  font-size: .6rem;
  display: inline-block;
  width: 49%;
  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #3477FF;
  border-bottom: 0 none;
  cursor: pointer;
}
/* line 59, ../../../sass/common/dialog/dialog.scss */
.dialog .d-pop .d-btn a:active {
  background-color: #fff;
}
/* line 62, ../../../sass/common/dialog/dialog.scss */
.dialog .d-pop .d-btn a:last-child {
  border-right: 0 none;
  border-left: 1px solid #CCCCCC;
}
/* line 66, ../../../sass/common/dialog/dialog.scss */
.dialog .d-pop .d-btn a:first-child {
  border-left: 0 none !important;
}

/* line 73, ../../../sass/common/dialog/dialog.scss */
.dialog-hide {
  display: none;
  -webkit-box-shadow: none;
}

/* line 79, ../../../sass/common/dialog/dialog.scss */
.dialog {
  width: 100%;
  text-align: center;
}
/* line 83, ../../../sass/common/dialog/dialog.scss */
.dialog .d-pop {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: .2rem;
  overflow: hidden;
  background-color: #fff;
}
/* line 90, ../../../sass/common/dialog/dialog.scss */
.dialog .d-pop .d-cnt {
  max-width: 11rem;
  font-size: .6rem;
}

/* line 99, ../../../sass/common/dialog/dialog.scss */
#dialog-tips .d-pop {
  background-color: #000;
  opacity: 0.6;
}
/* line 102, ../../../sass/common/dialog/dialog.scss */
#dialog-tips .d-pop .d-cnt {
  color: #fff;
}
