.page {
  width: 16rem;
  overflow-x: hidden;
}
.page .mv-play {
  height: 9.00267rem;
  max-height: 9.00267rem;
}
.page .mv-play .clickable {
  height: 9.00267rem;
  max-height: 9.00267rem;
  width: 16rem;
}
.page .content .mv-down {
  height: 8.17067rem;
  padding-top: 0.42667rem;
  border-bottom: 0.02133rem solid #dddddd;
}
.page .content .mv-down .down_top {
  height: 5.16267rem;
}
.page .content .mv-down .down_top .singer {
  height: 2.176rem;
}
.page .content .mv-down .down_top .singer .singer_img {
  width: 1.70667rem;
  height: 1.70667rem;
  background-position: center;
  background: url("../../../image/weixin.png") no-repeat;
  background-size: contain;
  border-radius: 0.10667rem;
  float: left;
}
.page .content .mv-down .down_top .singer .singer_name {
  color: #999;
  font-weight: bold;
  line-height: 1.74933rem;
  padding-left: 0.21333rem;
}
.page .content .mv-down .down_top .singer_detail {
  color: #333;
  width: 100%;
  height: 1.70667rem;
  font-weight: bold;
  letter-spacing: 0;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.page .content .mv-down .down_top .singer_other {
  height: 1.28rem;
}
.page .content .mv-down .down_top .singer_other span {
  color: #999;
  font-size: 0.512rem;
  height: 1.28rem;
  width: 7.38133rem;
  display: inline-block;
}
.page .content .mv-down .down_bottom {
  height: 2.98667rem;
}
.page .content .mv-down .down_bottom .bottom_p {
  width: 4.992rem;
  height: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
.page .content .mv-down .down_bottom .bottom_p1 .p1_img {
  margin-top: .5rem;
  width: 0.93867rem;
  height: 0.93867rem;
  background-position: center;
  background: url("../../../image/icon_msn_nearplay.png") no-repeat;
  background-size: contain;
  display: inline-block;
}
.page .content .mv-down .down_bottom .bottom_p2 .p2_img {
  margin-top: .5rem;
  width: 0.93867rem;
  height: 0.93867rem;
  background-position: center;
  background: url("../../../image/icon_download_nearplay.png") no-repeat;
  background-size: contain;
  display: inline-block;
}
.page .content .mv-down .down_bottom .bottom_p3 .p3_img {
  margin-top: .5rem;
  width: 0.93867rem;
  height: 0.93867rem;
  background-position: center;
  background: url("../../../image/icon_like_nearplay.png") no-repeat;
  background-size: contain;
  display: inline-block;
}
.page .content .mv-rec {
  height: 8.53333rem;
}
.page .content .mv-rec .rec_title {
  padding-top: 0.81067rem;
  padding-bottom: 0.21333rem;
  height: 0.85333rem;
  color: #999;
}
.page .content .mv-rec .rec_show {
  height: auto;
  width: 100%;
}
.page .content .mv-rec .rec_show .show_mv {
  width: 7.68rem;
  height: 6.44267rem;
  display: inline-block;
  padding-right: 0.02133rem;
}
.page .content .mv-rec .rec_show .show_mv .mv {
  height: 4.30933rem;
  width: 100%;
}
.page .content .mv-rec .rec_show .show_mv .mv_title {
  height: 0.96rem;
  padding-top: 0.21333rem;
  padding-bottom: 0.08533rem;
  font-size: 0.68267rem;
  font-weight: bold;
}
.page .content .mv-rec .rec_show .show_mv .mv_user {
  color: #999;
  height: 0.85333rem;
}

/*# sourceMappingURL=mv.css.map */
