@import "~styles-var"; 
@import "~commond-var";
.content {
	width  95%
	max-height 750px 
	margin  0 auto 
	padding  0 
	position  relative
	margin-top 40px 
	background-color  #F0F0F0
	overflow hidden 
}
.nav {
	float left
	width 12%
	position absolute
	top 0
	bottom 0
	overflow auto
	background-color #2b2e34
	.nav-menu{
		color #fff
		font-size:24px
	}
	.nav-logo{
		default-padding-lr()
		height 60px
		line-height 60px
		font-size 22px
		font-weight bold
		color #fff
	}
}
.form {
	position relative
	width 88%
	left 12%
	overflow hidden
	.form-title,.form-term {
		width 100%
		height 60px
		line-height 60px
		background-color #fff
		color black
	}
	.form-nav {
		border-top 1px #E0E1E1 solid
		border-bottom 1px #E0E1E1 solid
		default-commond()
		.el-breadcrumb {
			line-height 56px
			font-size 16px
			default-margin-lr()
		}
	}		
	.form-body {
		.form-search {
			default-commond()
			border-top 1px #E0E1E1 solid
			border-bottom 1px #E0E1E1 solid
			background-color #F1F1F1
			default-padding-lr()
			.form-search-sty {
				float right
			}
		}		
		.form-term {
			padding 0 40px
			border-top 1px #E0E1E1 solid
			border-bottom 1px #E0E1E1 solid
		}
		.form-search-detail	{
			height auto
			padding 20px 40px
			.btnText {
				color black
				font-weight bold
			}
		}	
	}
}
//重写 el style 
.el-menu {
	background-color  black
	li {
		background-color  #2B2E34		
		font-size 14px		
		color #fff
	}	
	.el-menu-item{
		box-shadow 1px 1px 1px 0px #000
	}
	.el-menu-item:first-child{
		border-top 1px solid #000
	}
}	
.el-submenu__title {
	font-size 16px
	color #fff	
}
.el-form-item__label {
	font-size 16px
}	
.el-input {
	display inline	
}
.repeat-el-input {
	width: 300px
	display inline-block
	margin-left 10px
}
.el-input__inner {
	display inline
}	
.el-button--text {
	color gray
}		
.downMeun {
	background-color #F0F0F0
	float right
	height 50px
	width 200px
	margin-top 5px
	line-height 50px
}
.el-dropdown-menu__item{
	width 200px	
}
		