body {
    padding 0
    margin 0 auto
    width 100%
    background-color #F4F4F4
    font-size 18px
    height: 100%;
}
div,ul,li,form {
    box-sizing border-box
    -webkit-box-sizing border-box
}
a {
    text-decoration none
}

