margin-lr-auto()
    margin-left auto;
    margin-right auto;
default-border()
    border 1px solid #ccc;
default-border-radius()
    border-radius: 6px;
bg-blue()
    background-color aqua;
