margin-lr-auto()
    margin-left auto 
    margin-right auto 
default-border()
    border 1px solid #ccc 
default-margin-lr()
    margin-left 20px 
    margin-right 20px 
default-border-radius()
    border-radius  6px 
default-padding()
    padding  20px 
default-padding-lr()
    padding-left  20px 
    padding-right  20px 
default-padding-tb()
    padding-top  20px 
    padding-bottom  20px
default-commond()
	width 100%
	height 56px
	font-size 16px
	line-height 56px     
