margin-lr-auto() {
    margin-left auto
    margin-right auto
}
default-border() {
    border 1px solid #ccc
}

default-margin-lr(x,y) {
    margin-left x
    margin-right y
}
default-border-radius() {
    border-radius 6px
}
default-padding(x) {
    padding x
}
default-padding-lr(x,y) {
    padding-left x
    padding-right y
}
default-padding-tb(x,y) {
    padding-top x
    padding-bottom y
}
default-commond() {
    width 100%
    height 56px
    font-size 16px
    line-height 56px
}