<!DOCTYPE html>
<html lang="en">

<head>
    <title>MV播放</title>
    <meta charset="UTF-8">
    <meta name="description" content="demo" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,address=no" />
    <meta name="ML-Config" content="fullscreen=yes,preventMove=no" />
    <script type="text/javascript" charset="utf-8" src="https://cdn.jsdelivr.net/gh/clappr/clappr@latest/dist/clappr.min.js">
    </script>
</head>

<body>
    <div class="page">
        <!-- MV -->
        <div class="mv-play">
            <div class="player" id="player"></div>
        </div>

        <div class="content" id="content">

            <!-- 下载栏 -->
            <div class="mv-down">
                <div class="down_top">
                    <div class="singer_detail" v-text="mv_detail.name">
                    </div>
                    <div class="singer">
                        <span class="singer_img"></span>
                        <span class="singer_name" v-text="mv_detail.singer"></span>
                    </div>
                    <div class="singer_other">
                        <span v-text="mv_detail.putawayTime"></span>
                        <span v-text="mv_detail.views"></span>
                    </div>
                </div>
                <div class="down_bottom">
                    <div class="bottom_p bottom_p1">

                        <div class="p1_img">
                        </div>
                        <div>
                            评论
                        </div>


                    </div>
                    <div class="bottom_p bottom_p2">

                        <div class="p2_img">
                        </div>
                        <div>
                            下载
                        </div>

                    </div>
                    <div class="bottom_p bottom_p3">

                        <div class="p3_img">
                        </div>
                        <div>
                            收藏
                        </div>

                    </div>
                </div>
            </div>
            <!-- 推荐 -->
            <div class="mv-rec">
                <div class="rec_title">
                    <span class="rec_mv">推荐MV</span>

                </div>
                <div class="rec_show">
                    <div class="show_mv" v-for="item in mvList">
                        <div class="mv"></div>
                        <div class="mv_title" v-text="item.name"> </div>
                        <div class="mv_user" v-text="item.singer"> </div>
                    </div>

                </div>
            </div>
            <!-- 评论区 -->
            <div class="mv-com">
                <div class="com_title">
                    最新评论
                </div>
                <div class="com_list">
                    <li class="com_list_li" v-for="item in mv_comment">
                        <div class="li_img"></div>
                        <div class="li_detail">
                            <span class="acc" v-text="item.content"></span>
                            <span class="love" v-text="item.praises"></span>
                            <div class="dec_time" v-text="item.createTime"></div>
                            <div class="descrobe" v-text="item.content"></div>

                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="download_backup"></div>
        <div class="download_bottom">
            <a class="down_close">

            </a>
            <a class="down_btm">

            </a>
        </div>
    </div>
</body>

</html>