$fontSize: 46.875; // 750px 宽度
// 计算宽度
@function rem($n) {
  @return ($n / $fontSize) * 1rem;
}
.mv-play{
	height:rem(422);
	max-height:rem(422);
	.clickable{
		height:rem(422);
		max-height:rem(422);
		width:rem(750);
	}
}
.content{

	.mv-down{
		height:rem(383);
		padding-top:rem(20);
		border-bottom:rem(1) solid #dddddd;
		.down_top{
			border-bottom:rem(1) solid #dddddd;
			height:rem(242);
			.singer{
				height:rem(102);
				.singer_img{
					width:rem(80);
					height:rem(80);
					background-position:center;
					background:url("../../../image/weixin.png") no-repeat;
					background-size: contain;
					border-radius:rem(5);
					float:left;
				    
				}
				.singer_name{
					color:#999;
					font-weight:bold;
					line-height:rem(82);
					padding-left:rem(10);
				}

			}
			.singer_detail{
				color:#333;
				width:100%;
				height:rem(80);
				font-weight:bold;
				letter-spacing:0;
				word-break:break-all;
				display:-webkit-box;
				-webkit-line-clamp:2;
				-webkit-box-orient:vertical;
				overflow:hidden;
			}
			.singer_other{
				height:rem(60);
				span{
					color:#999;
					font-size:rem(24);
					height:rem(60);
					width:rem(346);
					display:inline-block;
				}
			}			
		}
		.down_bottom{
			height:rem(140);
			.bottom_p{
				width:rem(234);
				height:100%;
				margin:0 auto;
				display:inline-block;
				text-align: center;
			}
			.bottom_p1{
				.p1_img{
				    margin-top: .5rem;
					width:rem(44);
					height:rem(44);
					background-position:center;
					background:url("../../../image/icon_msn_nearplay.png") no-repeat;
					background-size: contain;
					display:inline-block;
				}
			}
			.bottom_p2{
				.p2_img{
					margin-top: .5rem;
					width:rem(44);
					height:rem(44);
					background-position:center;
					background:url("../../../image/icon_download_nearplay.png") no-repeat;
					background-size: contain;
					display:inline-block;

				}
			}
			.bottom_p3{
				.p3_img{
					margin-top: .5rem;
					width:rem(44);
					height:rem(44);
					background-position:center;
					background:url("../../../image/icon_like_nearplay.png") no-repeat;
					background-size: contain;
					display:inline-block;

				}
			}
		}
	}
	.mv-rec{
		height:rem(400);
		.rec_title{
			padding-top:rem(38);
			padding-bottom:rem(10);
			height:rem(40);
			font-weight:bold;
			.rec_more{
				float:right;
				color:#ddd;
				font-size:rem(24);
			}
		}
		.rec_show{
			height:auto;
			width:100%;
			.show_mv{
				width:rem(360);
				height:rem(302);
				display: inline-block;
				padding-right:rem(1);
				.mv{
					height:rem(202);
					width:100%;
				}
				.mv_title{
					height:rem(45);
					padding-top:rem(10);
					padding-bottom:rem(4);
					font-size:rem(32);
					font-weight:bold;
				}
				.mv_user{
					color:#999;
					height:rem(40);
				}
			}
		}
	}
	
}